.mainContainer{
    max-width: 100vw;
}
.images{
    background-repeat: no-repeat;
    /* max-width: 100vw; */
    /* max-height: 100vh; */
    /* background-position: center; */
    /* background-size: cover; */
    width: 79.9375rem;
height: 38.75rem;
flex-shrink: 0;
}