.images {
    background-image: url(../../../assets/images/Banner-1.jpg);
    background-color: lightgray;
    background-position: -0.866px -9.688px;
    background-size: 100.136% 137.5%;
    background-repeat: no-repeat;
    width: 79.9375rem;
    height: 38.75rem;
    flex-shrink: 0;
}
